<!DOCTYPE html>
<html>
  <head>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Hello</h1>
    <p>Using the Soundcloud API</p>
    <ul>
      <li><a href="#" class="genre">dubstep</a></li>
      <li><a href="#" class="genre">electronic</a></li>
      <li><a href="#" class="genre">punk</a></li>
    </ul>
    <div id="player"></div>
    </object>
  </body>
</html>
